/* LoadingPage.css */

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, rgb(243, 99, 22), black);
  flex-direction: column;
}

.hidden {
  display: none;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: spin 2s linear infinite;
  border-radius: 50%; /* Make the container of the logo circular */
  padding: 20px; /* Padding around the logo to give it space */
  background-color: white; /* Make the background of the spinner white */
}

.logo {
  width: 100px; /* Adjust based on your logo size */
  height: 100px; /* Adjust based on your logo size */
  border-radius: 50%; /* Make the logo itself circular */
}

.loading-text {
  color: white;
  font-size: 1.5rem;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  color: #fff;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
